body {
    max-width: 1650px;
    margin: auto;
    box-sizing: border-box;
    line-height: 1.3;
    color: #d6d6d6;
    font-family: 'Oswald', sans-serif;
}

.background {
    background-color: black;

}
