footer {
	background: #fff;
}

footer section {
	background: #E7E8E8;
	text-align: center;
}

footer h2 {
	text-align: center;
	padding: 20px 0;
	color: black;
}


footer form label input {
	display: block;
	height: 25px;
	width: 400px;
	margin: 10px auto;
}

footer section form textarea {
	width: 400px;
}

footer section div {
	max-width: 236px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

footer section div input {
	border: 0;
	border-radius: 5px;
	margin: 10px 0 10px 100px;
	width: 130px;
	height: 30px;
	font-size: 1.2em;
	background: #0bc61b;
	color: white;
}

footer section div input:hover {
	background: #31af3c;
}

footer .media {
	text-align: center;
	padding: 10px 0 10px 0;
	background: white;
	padding-left: 40px;
	font-size: 20px;
}

footer div.media:hover {
	background-color: #e2a5a5;
}

footer .media p {
	color: #000;
	margin: 0;
	padding-top: 15px;
}

footer .media img {
	display: inline-block;
	margin: 5px 10px;
	width: 50px;
	height: 50px;
	border-radius: 12px;
}

@media (max-width: 800px) {
	.footer section form,
	footer section div input, #submiter {
		margin: auto;
	}

	footer .media:hover {
		background-color: #fff;
	}
}

#message {
	width: 600px;
	height: 200px;
		margin-right: 70px;
		padding-left: 0;
		padding-right: 0;

	
}

.footer input {
	width: 600px;
	height: 35px;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 70px;
}
#submiter {
	display: block;
	margin: 14px auto;
	width: 160px;
}

footer {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 'image_holder footer_main' 'media media';
	
}

section.footer_main {
	grid-area: footer_main;
}

.media {
	grid-area: media;
	align-self: center;

}

.image_holder {
	grid-area: image_holder;
	background-color: #E7E8E8;
}

.image_holder img {
	display: block;
	width: 370px;
	height: 370px;
	margin-top: 30px;
}

@media (max-width: 1100px){
	footer {
		grid-template-columns: 1fr;
		grid-template-areas: 'footer_main' 'media';
	}
	.image_holder img {
		width: 0;
		height: 0;
	}
	.footer input {
		display: block;
		margin: 0 auto;
		width: 460px;
	}
	#message {
		display: block;
		margin: 0 auto;
		width: 460px;
	}
}

@media (max-width: 800px) {
	.footer input {
		display: block;
		margin: 0 auto;
		width: 320px;
	}
	#message {
		display: block;
		margin: 0 auto;
		width: 320px;
		min-width: 20px;
	}
}

div.image_holder {
	justify-self: right;
	/*margin-right: 50px;*/
}

footer.footer {
	background-color: #E7E8E8;
}