header {
    background-image: url(../image_header/man_in_suit.png);
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


@media (max-width: 980px) {
    header {
        height: 450px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

@media (max-width: 600px) {
    header {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    }
}

