nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #2C2D2F;
    margin-top: 0;
}

nav ul li {
    list-style-type: none;
    margin-top: 7px;
    margin-bottom: 7px;
}

nav ul li a {
    text-decoration: none;
    color: #d6d6d6;
    font-weight: bold;
    font-size: 26px;
}

