hr {
    background-color: #1b1b1b;
    margin-top: 9px;
    margin-bottom: 7px;
}

.navbar-light .navbar-nav .nav-link {
    color: #d6d6d6;
    font-size: 1.35rem;
    padding: 0;
    font-family: 'Cormorant SC', serif;

}

.navbar-light .navbar-nav .nav-link:hover {
    color: #d01d1d;
    font-size: 1.55rem;
}

.nav-item.dropdown {
    padding-right: 5px
}

a.dropdown-item:hover {
    background-color: #FF9900;
}

.bg-dark {
    background-color: black!important;
}

.navbar-light .navbar-brand:hover {
    color: #FF9900;
}

.navbar-light .navbar-brand {
    padding: 5px 30px;
    color: #FF9900;
    font-size: 2.5rem;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Audiowide', cursive;
}

.navbar-light .navbar-toggler {
    color: #d6d6d6;
    border: 2px solid #d6d6d6;
}

@media (max-width: 980px) {
    .navbar-light .navbar-brand {
        padding: 5px 39px;
        color: #d6d6d6;
        font-size: 2.5rem;
        margin-left: 25px;
        margin-right: 25px;
    }
}

b {
    color: #FF9900;
    padding: 0 7px;
}

@media (max-width:990px) {
    b {
        display: none;
    }
}
