.navbar-light .navbar-nav .nav-link {
    color: #d6d6d6;
    font-size: 1.5rem;
    padding-right: 30px
}


.bg-dark {
    background-color: #1b1b1b!important;
}

.navbar-light .navbar-brand {
    padding: 5px 39px;
    color: #d6d6d6;
    font-size: 2.5rem;
    margin-left: 30px;
    margin-right: 50px;
}

.navbar-light .navbar-toggler {
    color: #d6d6d6;
    border: 2px solid #d6d6d6;
}

@media (max-width: 980px) {
    .navbar-light .navbar-brand {
        padding: 5px 39px;
        color: #d6d6d6;
        font-size: 2.5rem;
        margin-left: 25px;
        margin-right: 25px;
    }
}
